<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Title</key>
		<string>雍正剑侠图</string>
		<key>Duration</key>
		<string>0:57:29</string>
	</dict>
	<key>2</key>
	<dict>
		<key>Title</key>
		<string>雍正剑侠图</string>
		<key>Duration</key>
		<string>0:57:05</string>
	</dict>
	<key>3</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE003.mp3</string>
		<key>Duration</key>
		<string>1:12:15</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>4</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE004.mp3</string>
		<key>Duration</key>
		<string>1:09:24</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>5</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE005.mp3</string>
		<key>Duration</key>
		<string>1:09:24</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>6</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE006.mp3</string>
		<key>Duration</key>
		<string>1:09:24</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>7</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE007.mp3</string>
		<key>Duration</key>
		<string>1:09:24</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>8</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE008.mp3</string>
		<key>Duration</key>
		<string>1:09:24</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>9</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE009.mp3</string>
		<key>Duration</key>
		<string>1:09:24</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>10</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE010.mp3</string>
		<key>Duration</key>
		<string>1:09:24</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>11</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE011.mp3</string>
		<key>Duration</key>
		<string>1:09:24</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>12</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE012.mp3</string>
		<key>Duration</key>
		<string>1:09:24</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
    <key>13</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE013.mp3</string>
		<key>Duration</key>
		<string>1:09:24</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
    <key>14</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE014.mp3</string>
		<key>Duration</key>
		<string>1:09:24</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
    <key>15</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE015.mp3</string>
		<key>Duration</key>
		<string>1:09:24</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
    <key>16</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE016.mp3</string>
		<key>Duration</key>
		<string>1:09:24</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
    <key>17</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE017.mp3</string>
		<key>Duration</key>
		<string>1:09:24</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
    <key>18</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE018.mp3</string>
		<key>Duration</key>
		<string>1:09:24</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
    <key>19</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE019.mp3</string>
		<key>Duration</key>
		<string>1:09:24</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
    <key>20</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE020.mp3</string>
		<key>Duration</key>
		<string>1:09:24</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
</dict>
</plist>
