<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Title</key>
		<string>雍正剑侠图</string>
		<key>Duration</key>
		<string>0:57:29</string>
	</dict>
	<key>2</key>
	<dict>
		<key>Title</key>
		<string>雍正剑侠图</string>
		<key>Duration</key>
		<string>0:57:05</string>
	</dict>
	<key>3</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE003.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>4</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE004.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>5</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE005.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>6</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE006.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>7</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE007.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>8</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE008.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>9</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE009.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>10</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE010.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>11</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE011.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>12</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE012.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>13</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE013.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>14</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE014.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>15</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE015.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>16</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE016.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>17</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE017.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>18</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE018.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>19</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE019.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>20</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE020.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>21</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE021.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>22</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE022.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>23</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE023.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>24</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE024.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>25</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE025.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>26</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE026.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>27</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE027.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>28</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE028.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>29</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE029.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>30</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE030.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>31</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE031.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>32</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE032.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>33</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE033.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>34</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE034.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>35</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE035.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>36</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE036.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>37</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE037.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>38</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE038.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>39</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE039.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>40</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE040.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>41</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE041.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>42</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE042.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>43</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE043.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
	<key>44</key>
	<dict>
		<key>S3Url</key>
		<string>https://s3-ap-northeast-1.amazonaws.com/yongzhengtokyo/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE044.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>雍正剑侠图</string>
	</dict>
</dict>
</plist>
